<h1>This is the  <%= @Player.first_name %>'s profile</h1>
<table>
	<thead>
		<tr>
			<td> First Name</td>
			<td>Last Name</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @Player.first_name %></td>
			<td><%= @Player.last_name %> </td>
		</tr>
	</tbody>
</table>

<a href="/players"> Home page </a> 